[Unit]
Description=Node.js yijie cp server
After=mariadb.service

[Service]
User=root
Group=root
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/root/yijie_cp_server
ExecStart=/root/yijie_cp_server/app.js

[Install]
WantedBy=multi-user.target